################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Custom_Bar/Custom_Bar.sln
/Custom_Bar/.vs/Custom_Bar/v15/Server/sqlite3
/Custom_Bar/Custom_Bar/obj/Debug
/Custom_Bar/Custom_Bar/bin/Debug
/Custom_Bar/.vs/Custom_Bar/v15
/Custom_Bar/Custom_Pie/obj/Debug
/Custom_Bar/Custom_Pie/bin/Debug
